@import url(animation.css);

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px*/
}

body {
  background-color: var(--background);
}

:root {
  --h1: 11.089rem;
  --primary: #bb010b;
  --background: #f8edeb;
  --mainText: #bb010b;
  --heading: #f8edeb;
}

.pink {
  --primary: #f8cbcb;
  --background: white;
  --heading: #491f18;
  --mainText: #491f18;
}

.red {
  --primary: #bb010b;
  --secondary: #f8edeb;
  --background: #f8edeb;
  --mainText: #bb010b;
  --heading: #f8edeb;
}

#heading {
  font-size: var(--h1);
  text-align: center;
  padding-top: 5rem;
  background-color: var(--primary);
  height: 30rem;
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: normal;
  color: var(--heading);
  border: 1px;
  border-color: black;
}
.themeBtn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  color: var(--mainText);
  font-size: 14px;
  height: 32px;
  padding: 10px 10px;
  width: 50px;
}

.filters {
  /* display: flex;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  align-items: flex-start; */
  margin-left: 20rem;
}
.button {
  background-color: var(--background);
  border-radius: 17px;
  color: var(--mainText);
  font-size: 14px;
  height: 35px;
  width: 80px;
  margin-top: 6rem;
  border: 1px solid black;
}

.button:hover {
  background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

#display {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin-top: 6rem;
  font-size: 10rem;
  height: 52.6rem;
  width: 45rem;
  border-radius: 2rem;
}

.card-back {
  font-size: 10rem;
  transform: rotateY(180deg);
}

.name-back {
  font-family: "Monsieur La Doulaise", cursive;
  margin-top: 4rem;
  color: var(--mainText);
}

.price {
  margin-top: 3rem;
  font-size: 3rem;
}

.description {
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
}

.img {
  width: 44.8rem;
  height: 45.6rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  object-fit: cover;
}

.img-container {
  height: 45rem;
  width: 44.8rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.name {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
