@import url(animation.css);
@import url(buttons.css);

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px*/
}

body {
  background-color: var(--background);
}

:root {
  --h1: 11.089rem;
  --primary: #bb010b;
  --background: #f8edeb;
  --mainText: #bb010b;
  --heading: #f8edeb;
}

.pink {
  --primary: #f8cbcb;
  --background: white;
  --heading: #491f18;
  --mainText: #491f18;
  --other-primary: #bb010b;
  --other-text: #f8edeb;
}

.red {
  --primary: #bb010b;
  --background: #f8edeb;
  --mainText: #bb010b;
  --heading: #f8edeb;
  --other-primary: #f8cbcb;
  --other-text: #491f18;
}

#heading {
  font-size: var(--h1);
  text-align: center;
  padding-top: 5rem;
  background-color: var(--primary);
  height: 30rem;
  font-family: "Monsieur La Doulaise", cursive;
  color: var(--heading);
  border: 1px;
  border-color: black;
  font-weight: normal;
}

#display {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10rem;
}

.card {
  margin-top: 6rem;
  font-size: 10rem;
  height: 52.6rem;
  width: 45rem;
  border-radius: 2rem;
}

.card-back {
  font-size: 10rem;
  font-family: "Lato", sans-serif;
  transform: rotateY(180deg);
}

.name-back {
  font-family: "Monsieur La Doulaise", cursive;
  margin-top: 4rem;
  color: var(--mainText);
}

.description {
  margin-top: 6rem;
  text-align: center;
  font-size: 2rem;
  width: 35rem;
  margin: auto;
}

.img {
  width: 44.8rem;
  height: 38rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  object-fit: cover;
}

.img-container {
  height: 38rem;
  width: 44.8rem;
}

.name {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
.price {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 2rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
