@import url(second.css);
html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--beige-mom-background);
}

:root {
  --h1: 11.089rem;
  --cotton-candy-main: #bde0fe;
  --beige-mom-main: #d5bdaf;
  --beige-mom-light: #f5ebe0;
  --beige-mom-backgorund: #edede9;
  --beige-mom-secondary: #d5bdaf;
}

#heading {
  font-size: var(--h1);
  text-align: center;
  padding-top: 5rem;
  background-color: var(--beige-mom-light);
  height: 30rem;
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: normal;
  color: #000000;
  border: 1px;
  border-color: black;
}

.test {
  background-color: aliceblue;
  height: 100vh;
  margin-top: 10px;
}
